body{
    width:100%;
    margin:0;
    background-color:blanchedalmond;
}
#nav{
    /* position:fixed; */
    font-size: smaller;
    margin:0px 3px;
    width:100%;
    background-color:bisque;
    height:50px;
    display:flex;
    align-items: center;
    gap:2px;
    justify-content:space-around;
    overflow-x:auto;
}
#sign,#log{
    text-decoration: none;
    color:coral;
}
#log:hover,#sign:hover{
    font-size:medium;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 5px;
    transition: 0.01s ease-out;
}
#log:active,#sign:active{
    font-size:small;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 5px;
    transition: 0.01s ease-in;
}
select{
    font-size: smaller;
    color:coral;
    border:none;
    background-color: bisque;
    text-align: center;
}
.upload{
    margin:10px;
    text-align: center;
}
#add-material{
    border:none;
}
#logout{
    border:none;
    background-color: bisque;
    color:coral;
    font-size: smaller;
    
}
#logout:hover{
    font-size:small;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 5px;
    transition: 0.01s ease-out;
}
#logout:active{
    font-size:smaller;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 5px;
    transition: 0.01s ease-in;
}
.subject{
    margin:10px;
}
#Hindi,#English,#Mathematics,#Physics,#Biology{
    display:none;
}
.title{
    color:coral;
}
#hindi-list,#english-list,#maths-list,#physics-list,#bio-list{
    display:flex;
    gap:10px;
    flex-wrap: wrap;
}
.subject-card{
    display: flex;
    flex-direction: column;
    width:100px;
    height:auto;
    border-radius: 4px;
    font-size: smaller;
    justify-content: flex-start;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.subject-card ul{
    padding:0;
    margin:0;
}
.img{
    width:100%;
    height:40%;
}
.subject-card ul li a{
    text-decoration: none;
}
.signup-form{
    width:800px;
    margin:10px auto;
    border-radius:20px;
    padding:10px 10px 30px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.login-form{
    margin:100px auto;
    width:800px;
    border-radius:20px;
    padding:10px 30px 30px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.signup-title, .login-title{
    text-align:center;
    color:white;
}
.button-wrapper{
    text-align:center;
}
.signup-alert,.login-alert{
    margin: 10px auto 20px;
    text-align: center;
    display:none;
}
.login-alert{
    width:75%;
}
.password-rules{
    font-weight: lighter;
    font-size: smaller;
}
#popup{
    display: none;
    width:auto;
    max-width: 500px;
    height:auto;
    max-height: 500px;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    position:fixed;
    /* margin:auto; */
    top:20%;
    left:50%;
    transform: translate(-50%,-20%);
    color:red;
    opacity: 1;
    z-index: 10;
}
.popup-buttons{
    display: flex;
    justify-content:center;
    gap:10px;
}
#close-button{
    background:none;
    border:none;
    cursor: pointer;
    /* font-weight: bold; */
}
#close-button:hover{
    background-color:red;
    color:white;
}