body{
    margin:0;
}
nav{
    width:100vw;
}
#profile-heading{
    text-align: center;
    color:coral;
    background: linear-gradient(90deg, #00C9FF 0%, #92FE9D 100%);
    margin-top:0;
    margin-left:0;
    margin-right:0;
    padding:0;
}
#profile-header{
    /* position:relative; */
    /* text-align:center; */
    margin:50vh auto;
    padding:20px;
    transform: translate(0,-60%);
    /* width:400px; */
    max-width:500px;
    height:auto;
    display:flex;
    flex-direction:column;
    align-items:flex-start;
    justify-content:center;
    font-size: larger;
    font-weight: 100;
    gap:6px;
    /* border:1px solid black; */
    border-radius:5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
span{
    text-decoration: underline;
}
.detail{
    /* width:100%; */
    /* position:absolute; */
    /* left:50%; */
    /* top:auto; */
    /* margin:0; */
}
button{
    border-width: 0;
    border-radius:4px;
    color:white;
    background-color:#00C9FF;
    font-size:small;
}
button:hover{
    cursor: pointer;
    color:white;
    background-color:blue;
    font-size:medium;
    transition: 0.2s ease-out;
}
button:active{
    cursor: pointer;
    color:white;
    background-color:dark blue;
    font-size:medium;
    transition: 0.1s ease-in;
}
.basic-info-buttons{
    margin: auto;
    font-size: medium;
    /* text-align:center; */
    /* display:flex;
    align-items: center;
    justify-content:space-around;
    gap:4px; */
}
/* #save-profile{
    margin:auto;
    
}
.btn{
    margin:auto;
    font-size: medium;
} */
